<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-16">
	<title>Avi Zacherman</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="semantic-ui/semantic.css">
	<script src="scripts/jquery-2.1.4.min.js"></script>
	<script src="semantic-ui/semantic.js"></script>
	<script src="scripts/main.js"></script>
</head>
<body id="body">
	<div id="avi-picture-holder"></div>
	<div id="transparency-pane"></div>
		<h1 class="ui centered header" id="triangle"> ▲ </h1>
	<div class="wrapper">
		<h1 class="ui centered header" id="avi-declare">Avi Zacherman</h1>
		<div class="ui center aligned one column grid">
			
				<div class="ui basic center aligned segment">
					<div class="ui horizontal list" id="link-list">
						<div class="item">
							<i class="large github icon"></i>
							<div class="content">
								<div class="header">
									GitHub
								</div>
									<a href="https://github.com/Avizacherman/"> Avizacherman </a>
							</div>
						</div>
						<div class="item">
							<i class="large linkedin square icon"></i>
							<div class="content">
								<div class="header">
									LinkedIn
								</div>
									<a href="https://www.linkedin.com/profile/view?id=AAIAAAIvEW4Bfe11IzJ4mOv95JxLRRkFKwq7aMs"> Avi Zacherman </a>
							</div>
						</div>
						<div class="item">
							<i class="large list icon"></i>
							<div class="content">
								<div class="header">
									Resume
								</div>
									<a href="https://docs.google.com/document/d/188Ho55pQbAqEPN7NIdLrttk-W_09N26eGEtTIq0XsDs/edit?usp=sharing"> Avi Zacherman </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="ui two column mobile stackable grid container">			
			<div class="row">
				<div class="column" id="hobbyList">
					<h3 class="ui centered header"> Hobbies and Interests</h3>
					<ul>
						<li> Beer Collection </li>
						<li> Board Games </li>
						<li> Cooking </li>
						<li> Exploring NYC </li>
						<li> Ramen </li>
					</ul>

				</div>
				<div class="column" id="hobbyDetails">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo eveniet voluptatem, incidunt amet vero officiis ratione porro! Ipsum minus aliquam optio, accusamus esse sint praesentium voluptas blanditiis magni nihil deleniti!
				</div>
			</div>
				<div class="row">
					<div class="column">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi distinctio sequi voluptate tempora officia quo aliquid assumenda ipsam, veritatis consectetur quidem animi, eveniet libero! Eaque, tenetur. Numquam quo quos debitis.

						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum ipsa aliquid, ad perferendis, officiis amet hic iure debitis non, natus excepturi repellat autem quis libero veniam ipsam distinctio dolor!
					</div>
					<div class="column">
						<h3 class="ui centered header"> Projects </h3>
						<ul>
							<li> Tic Tac Toe </li>
							<li> Wiki </li>
							<li> Jizo - Facebook Event Directions </li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="column">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam facilis inventore fugiat porro esse, fugit exercitationem provident vero maiores omnis quos. Aliquam impedit vero, perspiciatis, sint quaerat expedita nihil necessitatibus!
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>