<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-16">
	<title>Avi Zacherman</title>
	<link rel="stylesheet" href="semantic-ui/semantic.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="scripts/jquery-2.1.4.min.js"></script>
	<script src="semantic-ui/semantic.js"></script>
	<script src="scripts/main.js"></script>
</head>
<body id="body">
	<div id="avi-picture-background"></div>
	<div class="avi-picture-holder" id="one"></div>
	<div class="avi-picture-holder" id="two"></div>
	<div class="avi-picture-holder" id="three"></div>
	<div class="avi-picture-holder" id="four"></div>
	<div class="avi-picture-holder" id="five"></div>
	<div id="transparency-pane"></div>
		<h1 class="ui centered header" id="triangle"> ▲ </h1>
	<div class="wrapper">
		<h1 class="ui centered header" id="avi-declare">Avi Zacherman</h1>
		<div class="ui center aligned one column grid">
			<div class="computer tablet only column">
				<div class="ui basic segment">
						<div class="ui horizontal list" id="link-list">
							<div class="item">
								<i class="large github icon"></i>
								<div class="content">
									<div class="header">
										GitHub
									</div>
										<a href="https://github.com/Avizacherman/"> Avizacherman </a>
								</div>
							</div>
							<div class="item">
								<i class="large linkedin square icon"></i>
								<div class="content">
									<div class="header">
										LinkedIn
									</div>
										<a href="https://www.linkedin.com/profile/view?id=AAIAAAIvEW4Bfe11IzJ4mOv95JxLRRkFKwq7aMs"> Avi Zacherman </a>
								</div>
							</div>
							<div class="item">
								<i class="large suitcase icon"></i>
								<div class="content">
									<div class="header">
										Resume
									</div>
										<a href="https://docs.google.com/document/d/188Ho55pQbAqEPN7NIdLrttk-W_09N26eGEtTIq0XsDs/edit?usp=sharing"> Avi Zacherman </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mobile only column">
					<div class="ui basic segment">
						<div class="ui tiny horizontal list" id="mobile-list">
							<div class="item">
								<i class="github icon"></i>
								<div class="content">
									<div class="header">
										GitHub
									</div>
										<a href="https://github.com/Avizacherman/"> Avizacherman </a>
								</div>
							</div>
							<div class="item">
								<i class="linkedin square icon"></i>
								<div class="content">
									<div class="header">
										LinkedIn
									</div>
										<a href="https://www.linkedin.com/profile/view?id=AAIAAAIvEW4Bfe11IzJ4mOv95JxLRRkFKwq7aMs"> Avi Zacherman </a>
								</div>
							</div>
							<div class="item">
								<i class="suitcase icon"></i>
								<div class="content">
									<div class="header">
										Resume
									</div>
										<a href="https://docs.google.com/document/d/188Ho55pQbAqEPN7NIdLrttk-W_09N26eGEtTIq0XsDs/edit?usp=sharing"> Avi Zacherman </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="ui two column mobile stackable grid container">			
			<div class="row">
				<div class="column" id="hobbyList">
					<h3 class="ui centered header"> Hobbies and Interests</h3>
					<ul>
						<li id="beer"> Beer Collection </li>
						<li id="board-games"> Board Games </li>
						<li id="cooking"> Cooking </li>
						<li id="exploring"> Exploring NYC </li>
						<li id="ramen"> Ramen </li>
					</ul>

				</div>
				<div class="column" id="hobbyDetails">
					<img height="300" width="400" id="hobby-image" src="img/beer.png">
				</div>
			</div>
				<div class="row">
					<div class="column">
						<div class="ui center aligned basic segment">
							<div id="image-holder">
								<img src="img/tictactoe.gif">
							</div>
								<a id="linker" href="http://avizacherman.github.io"></a>
							</div>
					</div>
					<div class="column">
						<h3 class="ui centered header"> Projects </h3>
						<ul id="projects">
							<li class="projectList highlighted" id="ticTacToe"> Tic Tac Toe </li>
							<li class="projectList" id="wiki"> Wiki </li>
							<li class="projectList" id="jizo"> Jizo - Facebook Event Directions </li>
							<li class="projectList" id="phoodography"> Phoodography </li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="column">
					<h3 class="ui centered header"> Technologies I Love </h3>
					<ul>
						<li>jQuery</li>
						<li>React.js</li>
						<li>Emmet</li>
						<li>Ruby on Rails</li>
						<li>PostgreSQL</li>
						<li>Semantic UI</li>
					</div>
					<div class="column">
					<h3 class="ui centered header"> Technologies I want to Improve On </h3>
					<ul>
						<li>Swift</li>
						<li>ECMAScript 6</li>
						<li>Apache Cordova</li>
						<li>Google Maps API</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="ui center aligned basic segment">
			<div id="contact">
				<a href="#" id="contact">Contact Me</a>
			</div>
		</div>
	</div>
</div>
	<div class="ui modal" id="contact-modal">
		<i class="close icon"> </i>
		<div class="header">
			Contact Me
		</div>
		<div class="content">
			<form class="ui form" id="contact-form">
				<div class="field">
					<label> From </label>
					<input class="contactForm" type="text" id="from" name="from" placeholder="Your Name">
				</div>
				<div class="field">
					<label> Email </label>
					<input class="contactForm" type="text" id="fromEmail" name="fromEmail" placeholder="Your Email">
				</div>
				<div class="field">
					<label> Subject </label>
					<input class="contactForm" type="text" id="subject" name="subject" placeholder="Subject">
				</div>
				<div class="field">
					<label> Body </label>
					<textarea class="contactForm"id="content" name="content" ></textarea>
				</div>
				<div class="actions">
					<button class="ui blue left labeled submit icon button" id="submit">
						<i class="send icon"></i>
						Send
					</button>
					<div class="ui red cancel labeled icon button" id="cancel-modal">
						<i class="cancel icon"></i>
						Cancel
					</div>
				</div>

			</form>
		</div>
	</div>
</body>
</html>