<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-16">
	<title>Avi Zacherman</title>
	<link rel="stylesheet" href="semantic-ui/semantic.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="scripts/jquery-2.1.4.min.js"></script>
	<script src="semantic-ui/semantic.js"></script>
	<script src="scripts/main.js"></script>
</head>
<body id="body">
	<div id="avi-picture-background"></div>
	<div class="avi-picture-holder" id="one"></div>
	<div class="avi-picture-holder" id="two"></div>
	<div class="avi-picture-holder" id="three"></div>
	<div class="avi-picture-holder" id="four"></div>
	<div class="avi-picture-holder" id="five"></div>
	<div id="transparency-pane"></div>
		<h1 class="ui centered header" id="triangle"> ▲ </h1>
	<div class="wrapper">
		<h1 class="ui centered header" id="avi-declare">Avi Zacherman</h1>
		<div class="ui center aligned one column grid">
			<div class="computer tablet only column">
				<div class="ui basic segment">
						<div class="ui horizontal list" id="link-list">
							<div class="item">
								<i class="large github icon"></i>
								<div class="content">
									<div class="header">
										GitHub
									</div>
										<a href="https://github.com/Avizacherman/"> Avizacherman </a>
								</div>
							</div>
							<div class="item">
								<i class="large linkedin square icon"></i>
								<div class="content">
									<div class="header">
										LinkedIn
									</div>
										<a href="https://www.linkedin.com/profile/view?id=AAIAAAIvEW4Bfe11IzJ4mOv95JxLRRkFKwq7aMs"> Avi Zacherman </a>
								</div>
							</div>
							<div class="item">
								<i class="large suitcase icon"></i>
								<div class="content">
									<div class="header">
										Resume
									</div>
										<a href="https://docs.google.com/document/d/188Ho55pQbAqEPN7NIdLrttk-W_09N26eGEtTIq0XsDs/edit?usp=sharing"> Avi Zacherman </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mobile only column">
					<div class="ui basic segment">
						<div class="ui tiny horizontal list" id="mobile-list">
							<div class="item">
								<i class="github icon"></i>
								<div class="content">
									<div class="header">
										GitHub
									</div>
										<a href="https://github.com/Avizacherman/"> Avizacherman </a>
								</div>
							</div>
							<div class="item">
								<i class="linkedin square icon"></i>
								<div class="content">
									<div class="header">
										LinkedIn
									</div>
										<a href="https://www.linkedin.com/profile/view?id=AAIAAAIvEW4Bfe11IzJ4mOv95JxLRRkFKwq7aMs"> Avi Zacherman </a>
								</div>
							</div>
							<div class="item">
								<i class="suitcase icon"></i>
								<div class="content">
									<div class="header">
										Resume
									</div>
										<a href="https://docs.google.com/document/d/188Ho55pQbAqEPN7NIdLrttk-W_09N26eGEtTIq0XsDs/edit?usp=sharing"> Avi Zacherman </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

	<div class="flex-centered-container">
		<h2 class="flex-header">
			About Me
		</h2>
		<p>
			I am a passionate programmer with a desire to always expand my skills and
			build on fundamentals. I have been coding consistently for seven months
			and enjoy trying out new technologies and APIs, always seeking to experiment
			and never comfortably complacent.
		</p>
		<p>
			In my spare time I enjoy board games, exploring the NYC restaurant scene,
			and collecting rare beers. Cooking is a particular hobby of mine, I smoke
			and cook my own bacon and I make a mean Steak au Poivre.
			I have had the opportunity to explore over 30
			states and live in three, but I am proud to be a New Yorker through and through.
		</p>
		<h2 class="flex-header">
			Projects
		</h2>
	</div>
	<div class="flex-project-container">
		<div class="flex-project-item">
			<a href="https://spell-buddy.herokuapp.com">
				<h4> SpellBuddy </h4>
				<img src="../img/spellbuddy.png">
			</a>
		</div>
		<div class="flex-project-item">
			<a href="https://phoodography.herokuapp.com">
				<h4> Phoodography </h4>
				<img src="../img/phoodography.png">
			</a>
		</div>
		<div class="flex-project-item">
			<a href="https://jizomap.herokuapp.com">
				<h4> Jizo </h4>
				<img src="../img/jizo.png">
			</a>
		</div>
		<div class="flex-project-item">
			<a href="http://avizacherman.net:1337">
				<h4> Ramen Wiki </h4>
				<img src="../img/ramenwiki.png">
			</a>
		</div>
		<div class="flex-project-item">
			<a href="https://avizacherman.github.io">
				<h4> Tic Tac Toe </h4>
				<img src="../img/tictacotoe.png">
			</a>
		</div>
	</div>
	<div class="flex-centered-container">
		<h6 class="flex-header"> Lovingly built by Avi Zacherman. Follow development
			at my <a href="https://github.com/Avizacherman/personal-website">Github
			Repo </a>
		</h6>
	</div>
	<div class="ui modal" id="contact-modal">
		<i class="close icon"> </i>
		<div class="header">
			Contact Me
		</div>
		<div class="content">
			<form class="ui form" id="contact-form">
				<div class="field">
					<label> From </label>
					<input class="contactForm" type="text" id="from" name="from" placeholder="Your Name">
				</div>
				<div class="field">
					<label> Email </label>
					<input class="contactForm" type="text" id="fromEmail" name="fromEmail" placeholder="Your Email">
				</div>
				<div class="field">
					<label> Subject </label>
					<input class="contactForm" type="text" id="subject" name="subject" placeholder="Subject">
				</div>
				<div class="field">
					<label> Body </label>
					<textarea class="contactForm"id="content" name="content" ></textarea>
				</div>
				<div class="actions">
					<button class="ui blue left labeled submit icon button" id="submit">
						<i class="send icon"></i>
						Send
					</button>
					<div class="ui red cancel labeled icon button" id="cancel-modal">
						<i class="cancel icon"></i>
						Cancel
					</div>
				</div>

			</form>
		</div>
	</div>
</body>
</html>
