#content{
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);;
  transform: translateY(-30%);
}

.button{
	font-size: 1.5em;
}

.yes{
	color: green;
	font-weight: bolder;
}

.no {
	color: red;
	font-weight: bolder;
}