body, head, html {
  margin: 0;
  padding: 0;
}

li{
  font-size: 150%;
  line-height: 1.5em;
  list-style-type: none;
}
h3.ui.header{
  font-size: 2.5rem;
}

.flex-centered-container {
  display: flex;
  align-items: center;
  flex-flow:column wrap;
}

.flex-centered-container p {
  width: 75%;
  font-size: 125%;
  text-align: justify;
}

.flex-project-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 75%;
  flex-wrap: wrap;
}

.flex-project-item {
  margin: 1% 1%;
}

.flex-project-item h4 {
  text-align: center;
}

.flex-project-item img {
  height: 148.5px;
  width: 264px;
  z-index: 2;
}

#avi-picture-background {
  background: url('../img/background.png');
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.wrapper {
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 247);
  background-image: url('../img/asfalt-dark.png');
  box-shadow: -2px -2px 5px black;
  width: 100%;
  overflow-x: hidden;
}



#triangle {
  position: relative;
  color: rgb(255, 255, 252);
  margin-top: -95px;
  margin-bottom: -36px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  font-size: 10em;
  z-index: 100;
  text-shadow: -2px -2px black;
}

#triangle:hover {
  cursor: default;
}

#link-list {
  text-align: left;
}

#mobile-list {
  text-align: center;
}

#avi-declare {
  letter-spacing: 1em;
  font-size: 3.5em;
}

#one, #two, #three, #four, #five {
  position: fixed;
  max-height: 20%;
  min-height: 300px;
  left: 8%;
  top: 0;
  text-align: right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#one {
  background: url('../img/avi-grill-pic1.jpg');
}

#two {
  background: url('../img/avi-beer-img.jpg');
}

#three {
  background: url('../img/avi-barrel-pic.jpg');
}

#four {
  background: url('../img/avi-unisphere.jpg');

}

#five {
  background: url('../img/avi-tie.jpg');

}

#five, #two, #three, #four {

  display: none;
}

#transparency-pane {
  background-color: rgba(0,0,0,0);
  max-height: 17%;
  min-height: 230px;
  width: 84%;
  margin: 0 auto;
  z-index: 1;
}

@media only screen and (max-width: 1900px){
  #one, #two, #three, #four, #five {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 680px;
    max-height: 83%;
    width: 84%;
    left: 8%;
    top: 0;
    text-align: right;
    z-index: -1;
  }



  #transparency-pane {
    background-color: rgba(0,0,0,0);
    height: 580px;
    max-height: 74%;
    width: 84%;
    margin: 0 auto;
    z-index: 1;
  }
}


@media only screen and (max-width: 992px){
#one, #two, #three, #four, #five {
  max-height: 80%;
  min-height: 520px;

}

#transparency-pane {
  background-color: rgba(0,0,0,0);
  max-height: 74%;
  min-height: 450px;
  width: 84%;
  margin: 0 auto;
  z-index: 1;
}

}

@media only screen and (max-width: 767px){
    #avi-declare {
    letter-spacing: .5em;
    font-size: 2.5em;
  }

  #one, #two, #three, #four, #five {
  max-height: 66%;
  min-height: 420px;

}

#transparency-pane {
  background-color: rgba(0,0,0,0);
  min-height: 150px;
  max-height: 40%;
  width: 84%;
  margin: 0 auto;
  z-index: 1;
}

}
