.cart-items{
  font-size: 3em;
  text-align: center;
  padding: 5% 0;
}

.overlay-button{
  cursor: pointer;
  background: black;
  color: white;
  fontWeight: bolder;
  lineHeight: 30px;
  height: 30px;
  width: 60px;
}

.overlay-button:hover{
  background: grey;
}
