.cart-items {
  font-size: 3em;
  text-align: center;
  padding: 5% 0;
}

.overlay-button {
  cursor: pointer;
  background: black;
  color: white;
  font-weight: bolder;
  line-height: 30px;
  height: 30px;
  width: 60px;
}

.overlay-button:hover {
  background: darkgrey;
}

.cart-total {
  text-align: center;
  font-size: 2em;
  margin: 3% 0;
}

.image-container {
  width: 70%;
  text-align: center;
  overflow-x: auto;
}

.overlay-img {
  height: 120px;
  width: 75px;
  margin: 0 2%;
}

.inner-overlay {
  background: white;
  height: 70%;
  width: 80%;
  margin: 10% 10%;
}

.overlay {
  background: rgba(0,0,0,.6);
  height: 100%;
  display: none;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.buttons {
  margin: 5% auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
